# Node
node_modules/
.env
.DS_Store
dist/
build/
firebase-debug.log
firebase-error.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel / Netlify
.vercel/
.netlify/

# Editor-specific
.vscode/
.idea/

# Optional
*.log
